# Server Configuration
PORT=5000
FRONTEND_URL=http://localhost:5173

# Database Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/bytebooks_lms?retryWrites=true&w=majority

# JWT Authentication
JWT_SECRET_KEY=your_super_secret_jwt_key
JWT_EXPIRE=7
COOKIE_EXPIRE=7

# Email Service (Nodemailer - Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_SERVICE=gmail
SMTP_PORT=587
SMTP_MAIL=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password

# Cloudinary Storage (For Book Covers & Avatars)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
